#filled-error {
    color: red;
}
.input-container {
    display: grid;
    grid-template-columns: 107px 300px;
    align-items: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black!important;
}